.flokiColor{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 60%;
    height: 60%;
}

.deportista{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 60%;
    height: 60%;
}

.puente{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 85%;
    height: 50%;
}

.ragnar{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 60%;
    height: 60%;
}

.elefantes{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 85%;
    height: 45%;
}


.chita{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 80%;
    height: 48%;
}

.jimmy{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 85%;
    height: 48%; 
}


.bjorg{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 60%;
    height: 60%; 
}

.byNFloky{
    border: solid 10px rgba(37, 75, 97, 0.733) !important;
    width: 60%;
    height: 60%; 
}