.cartContainer{
    width: 86%;
    margin: auto;
    background-color: rgba(56, 53, 63, 0.431);

}



.articlesContainer{
    
   
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}


.divArticle{
    width: 20%;
}



.imageCart{
    width: 65px;
    margin-top: 10px;
    margin-left: 0px;
    border: none;
}

.pagarVolver{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.totalPrice{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
  
}


.clean{
    width: 86%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
  
  
}
.clean :hover{
    background-color: rgb(156, 151, 151);
    z-index: 10;
    transform: scale(1.01, 1.01);
}

.buttonClearAll{
    display: flex;
    background-color: gray;
    cursor: pointer;
    font-weight: bold;
}

