.counterContainer{
  width:220px; 
  /* dentro de la card va a tener un valor en % 75 */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  font-family: 'Times New Roman', Times, serif;
  color: white; 
  }

  .counter{
    width: 36%;
    border: darkolivegreen solid 1px;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
   
  }

  
.button{
    width: 25%;
    box-sizing: border-box;
    border: none;
    font-weight: bolder ;
    font-size: large;
    
  }

  .buttonAdd{
    width: 40%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(110, 110, 150);
    border-radius: 4px;
    font-weight: bolder ;
    font-size: 15px;
  }

  p{
    color: black;
  }