.counterContainer{
    margin: auto;
    background-color: rgba(105, 100, 122, 0.65);
    width: 300px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
  }

  .counter{
    width: 36%;
    border: darkolivegreen solid 1px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
   
  }

  
.button{
    width: 20%;
    box-sizing: border-box;
    border: none;
    font-weight: bolder ;
    font-size: large;
    
  }

  .buttonAdd{
    width: 40%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(110, 110, 150);
    border-radius: 4px;
    font-weight: bolder ;
    font-size: 15px;
  }