.detailflokiColor{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 90%;
    height: auto;
}

.detaildeportista{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 90%;
    height: 90%;
}

.detailpuente{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 100%;
    height: 63%;
}

.detailragnar{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 96%;
    height: 96%;
}

.detailelefantes{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 100%;
    height: 60%;
}


.detailchita{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 100%;
    height: 68%;
}

.detailjimmy{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 98%;
    height: 62%; 
}


.detailbjorg{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 95%;
    height: 95%; 
}

.detailbyNFloky{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 95%;
    height: 95%; 
}