.detailflokiColor{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 90%;
    height: auto;
}

.detaildeportista{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 60%;
    height: 60%;
}

.detailpuente{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 85%;
    height: 50%;
}

.detailragnar{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 60%;
    height: 60%;
}

.detailelefantes{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 85%;
    height: 45%;
}


.detailchita{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 80%;
    height: 48%;
}

.detailjimmy{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 85%;
    height: 48%; 
}


.detailbjorg{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 60%;
    height: 60%; 
}

.detailbyNFloky{
    border: solid 5px rgba(30, 30, 34, 0.9) !important;
    width: 60%;
    height: 60%; 
}